/* Whole-page styling */
* {
    box-sizing: border-box;
    padding: 5;
    margin: 5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: azure;
}

.gamenavbar {
    display: flex;
    flex-wrap: wrap;
    background-color: thistle;
    font-size: 20px;
}

#timetimebaby {
    text-align: end;
    font-size: 20px;
}

main {
    display: flex block;
    flex-wrap: wrap;
    margin: 80px auto;
    text-align: center;
    /* transition: 0.3s; */
    width: 60vw;
}

#quizbox {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    text-align: center;
    padding: 5px 5px 10px 5px;
    background-color: thistle;
}

footer {
    text-align: center;
    padding: 30px;
    margin: 30px;
}